language: python

cache: pip

services:
- postgresql

addons:
  postgresql: "11"

env:
  global: 
  - PLUGIN_DIR: aiida-diff
  - TEST_AIIDA_BACKEND: django
  - AIIDA_DEVELOP_GIT_HASH: 0ca5d991d039dca2261df3d6ad8da2f03d591caa

matrix:
  include:
  # python27, develop aiida-core
  - name: "python-2.7 develop (django)"
    python: 2.7
    env:
      AIIDA_VERSION: develop
      TEST_TYPE: tests
  - name: "python-2.7 develop (sqla)"
    python: 2.7
    env:
      AIIDA_VERSION: develop
      TEST_TYPE: tests
      TEST_AIIDA_BACKEND: sqlalchemy
       
  # python36, develop aiida-core
  - name: "python-3.6 develop (django)"
    python: 3.6
    env:
      AIIDA_VERSION: develop
      TEST_TYPE: tests
  - name: "python-3.6 develop (sqla)"
    python: 3.6
    env:
      AIIDA_VERSION: develop
      TEST_TYPE: tests
      TEST_AIIDA_BACKEND: sqlalchemy
  - name: "python-3.6 develop (docs)"
    python: 3.6
    env:
      AIIDA_VERSION: develop
      TEST_TYPE: docs
      READTHEDOCS: 'True'
  - name: "python-3.6 develop (pre-commit)"
    python: 3.6
    env:
      AIIDA_VERSION: develop
      TEST_TYPE: pre-commit

install:
# Upgrade pip setuptools and wheel
- pip install -U wheel setuptools
- pip install pip==18.1
- pip install cookiecutter yapf
- cookiecutter --no-input .
- if [ "$AIIDA_VERSION" == "develop" ]; then .travis-data/install_aiida_github.sh ; fi  # installs develop branch
- pip install -e ${PLUGIN_DIR}[docs,pre-commit,testing]
- reentry scan -r aiida
- cd ${PLUGIN_DIR}

script:
- >
    if [ "$TEST_TYPE" == "docs" ] ; then 
        cd docs;
        make;
    elif [ "$TEST_TYPE" == "pre-commit" ] ; then 
        git init;
        git add -A;
        pre-commit install;
        pre-commit run --all-files || ( git status --short ; git diff ; exit 1 );
    else
        pytest -v;
    fi
